body{
	font-family: 'Georgia', Serif;
	font-size:18px;
	background-color: #f9c8c8;
	padding: 20px;
}

#headerBar {
	background-color: #a94442;
	border: 2px solid none;
	border-radius: 10px;
	padding: 20px;
	text-align: center;	
	color: #f9c8c8;
}
#headerBar a{
	 text-decoration:none; 
	 color: #f9c8c8;
	 visited: #f9c8c8;
	 hover: #f9c8c8;
}

#logo{
	border: 2px solid #f9c8c8;
	border-radius: 50px;
	padding:10px;
}

#content{
	padding-right: 0px;
}
#sideBar{
	margin-left: -50px;
}

#sideBar ul
{
  margin-top: 15px;
  margin-left:-10px;
}

#sideBar ul li{
	text-align:center;
	list-style-type: none;
	color: white;
	background-color: #a94442;
	padding: 10px;
}

#sideBar ul li a{
	color: #f9c8c8;
	border: 2px solid #f9c8c8;
    display: inline-block;
    width:300px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

h2{
	border: 2px solid none;
	border-radius: 10px;
	background-color: #a9444270;
	padding: 10px;
}

h3{
	border: 2px solid none;
	border-radius: 10px;
	background-color: #cd7f7e85;
	padding: 5px;
}

p{
	border: 2px solid none;
	border-radius: 10px;
	background-color: #e2a2a26b;
	padding: 10px;
}
#paragraph{
	border: 2px solid none;
	border-radius: 10px;
	background-color: #e2a2a26b;
	padding: 10px;
}
th, td {
    border: 1px solid #f9c8c8;
    border-collapse: collapse;
	padding: 5px;
	background-color: #e2a2a26b;
	border-radius: 10px;
	text-align: center;
}
#diagram{
	padding-top: 10px;
	text-align: center;
}