.content {
    margin-top: 20px;
    padding: 20px;
}

.mainnavbar {
    background-color: #520A7C;
}

.icon{
    color: white;
}

.Menu{
    margin-left: -250px;
}

.footer {
    text-align: right;
}